<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>myionicapp37</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

<div id="container">
  <ion-item>
    <strong>
	<ion-select label="金融機構:" label-placement="fixed" placeholder="請選擇金融機構">
	<ion-select-option value="0">合作金庫 (5880)</ion-select-option>
	<ion-select-option value="1">台北富邦 (2881)</ion-select-option>
	<ion-select-option value="2">國泰世華 (2882)</ion-select-option>
	<ion-select-option value="3">兆豐銀行 (2886)</ion-select-option>
	<ion-select-option value="4">王道銀行 (2897)</ion-select-option>
	<ion-select-option value="5">新光銀行 (2888)</ion-select-option>
	<ion-select-option value="6">中華郵政</ion-select-option>
	<ion-select-option value="7">玉山銀行 (2884)</ion-select-option>
	<ion-select-option value="8">台新銀行 (2887)</ion-select-option>
	<ion-select-option value="9">中國信託 (2891)</ion-select-option>
    </ion-select>
	</strong>
  </ion-item>
  <ion-item>
    <strong><ion-label>存款金額:</ion-label></strong>
  </ion-item>
  <ion-item>
    <strong><ion-label>累積存款:</ion-label></strong>
  </ion-item>
</div>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-title>委任第五職等、簡任第十二職等、第12屆臺北市長、第23任總統、中央銀行鋒兄分行</ion-title>
  </ion-toolbar>
</ion-footer>
